In [1]:
#import the dependencies
import pandas as pd
import datetime as dt

In [2]:
#verify the dataframe path
june2023 = 'data/JC-202306-citibike-tripdata.csv'

In [3]:
#read the dataframe into csv
june23_df = pd.read_csv(june2023, low_memory = False)

In [4]:
#check the Dtypes
june23_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97023 entries, 0 to 97022
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             97023 non-null  object
 1   rideable_type       97023 non-null  object
 2   started_at          97023 non-null  object
 3   ended_at            97023 non-null  object
 4   start_station_name  96968 non-null  object
 5   start_station_id    96968 non-null  object
 6   end_station_name    96662 non-null  object
 7   end_station_id      96662 non-null  object
 8   start_lat           97023 non-null  float64
 9   start_lng           97023 non-null  float64
 10  end_lat             96935 non-null  float64
 11  end_lng             96935 non-null  float64
 12  member_casual       97023 non-null  object
dtypes: float64(4), object(9)
memory usage: 9.6+ MB

In [5]:
#verify the dataframe
june23_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,37BE5FCB1A385CDA,classic_bike,2023-06-27 16:06:27,2023-06-27 16:10:27,Hilltop,JC019,Christ Hospital,JC034,40.731115,-74.057468,40.734786,-74.050444,casual
1,9C96B4C6CBBB31AD,classic_bike,2023-06-24 10:46:58,2023-06-24 10:55:27,Baldwin at Montgomery,JC020,Hamilton Park,JC009,40.723473,-74.064338,40.727596,-74.044247,member
2,C91293605D4BEC07,electric_bike,2023-06-04 20:30:13,2023-06-04 20:34:31,Hilltop,JC019,Brunswick St,JC023,40.731169,-74.057574,40.724176,-74.050656,member
3,2920063442116A46,classic_bike,2023-06-08 19:10:06,2023-06-08 19:13:05,Baldwin at Montgomery,JC020,Astor Place,JC077,40.723499,-74.064335,40.719282,-74.071262,member
4,E205FD8C18BA263A,classic_bike,2023-06-23 18:53:51,2023-06-23 19:17:50,Baldwin at Montgomery,JC020,Adams St & 11 St,HB507,40.723511,-74.064277,40.750916,-74.033541,member

In [6]:
#drop the null values in the dataframe
june23_new_df = june23_df.dropna()

In [7]:
#check the Dtypes
june23_new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96662 entries, 0 to 97022
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             96662 non-null  object
 1   rideable_type       96662 non-null  object
 2   started_at          96662 non-null  object
 3   ended_at            96662 non-null  object
 4   start_station_name  96662 non-null  object
 5   start_station_id    96662 non-null  object
 6   end_station_name    96662 non-null  object
 7   end_station_id      96662 non-null  object
 8   start_lat           96662 non-null  float64
 9   start_lng           96662 non-null  float64
 10  end_lat             96662 non-null  float64
 11  end_lng             96662 non-null  float64
 12  member_casual       96662 non-null  object
dtypes: float64(4), object(9)
memory usage: 10.3+ MB

In [8]:
#check the rideable_type count
june23_new_df["rideable_type"].value_counts()

classic_bike     82649
electric_bike    13580
docked_bike        433
Name: rideable_type, dtype: int64

In [9]:
#check the member casual count
june23_new_df["member_casual"].value_counts()

member    68804
casual    27858
Name: member_casual, dtype: int64

In [10]:
#change the rideable_type and member_casual dtype as category
june23_new_df = june23_new_df.astype({"rideable_type":"category", "member_casual":"category"})

In [11]:
#verify the dtypes
june23_new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96662 entries, 0 to 97022
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             96662 non-null  object
 1   rideable_type       96662 non-null  category
 2   started_at          96662 non-null  object
 3   ended_at            96662 non-null  object
 4   start_station_name  96662 non-null  object
 5   start_station_id    96662 non-null  object
 6   end_station_name    96662 non-null  object
 7   end_station_id      96662 non-null  object
 8   start_lat           96662 non-null  float64
 9   start_lng           96662 non-null  float64
 10  end_lat             96662 non-null  float64
 11  end_lng             96662 non-null  float64
 12  member_casual       96662 non-null  category
dtypes: category(2), float64(4), object(7)
memory usage: 9.0+ MB

In [12]:
# change the started_at and ended-at dtypes
june23_new_df = june23_new_df.astype({"started_at":"datetime64", "ended_at":"datetime64"})

In [13]:
#verify the dtypes
june23_new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96662 entries, 0 to 97022
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             96662 non-null  object
 1   rideable_type       96662 non-null  category
 2   started_at          96662 non-null  datetime64[ns]
 3   ended_at            96662 non-null  datetime64[ns]
 4   start_station_name  96662 non-null  object
 5   start_station_id    96662 non-null  object
 6   end_station_name    96662 non-null  object
 7   end_station_id      96662 non-null  object
 8   start_lat           96662 non-null  float64
 9   start_lng           96662 non-null  float64
 10  end_lat             96662 non-null  float64
 11  end_lng             96662 non-null  float64
 12  member_casual       96662 non-null  category
dtypes: category(2), datetime64[ns](2), float64(4), object(5)
memory usage: 9.0+ MB

In [14]:
# calculate the elapsed_time

june23_new_df["elapsed_time"] = june23_new_df["ended_at"] - june23_new_df["started_at"]

In [15]:
#check the dataframe
june23_new_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,elapsed_time
0,37BE5FCB1A385CDA,classic_bike,2023-06-27 16:06:27,2023-06-27 16:10:27,Hilltop,JC019,Christ Hospital,JC034,40.731115,-74.057468,40.734786,-74.050444,casual,0 days 00:04:00
1,9C96B4C6CBBB31AD,classic_bike,2023-06-24 10:46:58,2023-06-24 10:55:27,Baldwin at Montgomery,JC020,Hamilton Park,JC009,40.723473,-74.064338,40.727596,-74.044247,member,0 days 00:08:29
2,C91293605D4BEC07,electric_bike,2023-06-04 20:30:13,2023-06-04 20:34:31,Hilltop,JC019,Brunswick St,JC023,40.731169,-74.057574,40.724176,-74.050656,member,0 days 00:04:18
3,2920063442116A46,classic_bike,2023-06-08 19:10:06,2023-06-08 19:13:05,Baldwin at Montgomery,JC020,Astor Place,JC077,40.723499,-74.064335,40.719282,-74.071262,member,0 days 00:02:59
4,E205FD8C18BA263A,classic_bike,2023-06-23 18:53:51,2023-06-23 19:17:50,Baldwin at Montgomery,JC020,Adams St & 11 St,HB507,40.723511,-74.064277,40.750916,-74.033541,member,0 days 00:23:59

In [16]:
#describe the elapsed time
june23_new_df["elapsed_time"].describe()

count                        96662
mean     0 days 00:11:49.776458173
std      0 days 00:33:30.177739987
min                0 days 00:00:00
25%                0 days 00:04:16
50%                0 days 00:06:45
75%                0 days 00:11:11
max                1 days 00:51:59
Name: elapsed_time, dtype: object

In [17]:
#make the elapsed_time to minutes

june23_new_df["elapsed_time_minutes"] = round(june23_new_df["elapsed_time"] / dt.timedelta(minutes=1))

In [18]:
#change the elapsed time which is greater than or equal to one

june23_new_df = june23_new_df.loc[(june23_new_df["elapsed_time_minutes"] >= 1.0), :]

In [19]:
# remove the docked_bike from the rideable_type

june23_new_df = june23_new_df.loc[(june23_new_df["rideable_type"] != "docked_bike"), :]

In [20]:
#verify the dataframe
june23_new_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,elapsed_time,elapsed_time_minutes
0,37BE5FCB1A385CDA,classic_bike,2023-06-27 16:06:27,2023-06-27 16:10:27,Hilltop,JC019,Christ Hospital,JC034,40.731115,-74.057468,40.734786,-74.050444,casual,0 days 00:04:00,4.0
1,9C96B4C6CBBB31AD,classic_bike,2023-06-24 10:46:58,2023-06-24 10:55:27,Baldwin at Montgomery,JC020,Hamilton Park,JC009,40.723473,-74.064338,40.727596,-74.044247,member,0 days 00:08:29,8.0
2,C91293605D4BEC07,electric_bike,2023-06-04 20:30:13,2023-06-04 20:34:31,Hilltop,JC019,Brunswick St,JC023,40.731169,-74.057574,40.724176,-74.050656,member,0 days 00:04:18,4.0
3,2920063442116A46,classic_bike,2023-06-08 19:10:06,2023-06-08 19:13:05,Baldwin at Montgomery,JC020,Astor Place,JC077,40.723499,-74.064335,40.719282,-74.071262,member,0 days 00:02:59,3.0
4,E205FD8C18BA263A,classic_bike,2023-06-23 18:53:51,2023-06-23 19:17:50,Baldwin at Montgomery,JC020,Adams St & 11 St,HB507,40.723511,-74.064277,40.750916,-74.033541,member,0 days 00:23:59,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97018,2C69F8EF2A1BDD90,classic_bike,2023-06-30 19:41:00,2023-06-30 23:07:31,Washington St,JC098,Newport Pkwy,JC008,40.724294,-74.035483,40.728745,-74.032108,casual,0 days 03:26:31,207.0
97019,43E592256BC287BB,classic_bike,2023-06-20 18:55:02,2023-06-20 19:01:47,Washington St,JC098,Southwest Park - Jackson St & Observer Hwy,HB401,40.724273,-74.035498,40.737551,-74.041664,member,0 days 00:06:45,7.0
97020,4C3A7521689C560C,electric_bike,2023-06-22 19:24:22,2023-06-22 19:30:03,9 St HBLR - Jackson St & 8 St,HB305,Willow Ave & 12 St,HB505,40.747907,-74.038412,40.751867,-74.030377,casual,0 days 00:05:41,6.0
97021,9AAA8F2E630456E7,classic_bike,2023-06-30 13:34:09,2023-06-30 13:38:34,9 St HBLR - Jackson St & 8 St,HB305,Willow Ave & 12 St,HB505,40.747971,-74.038413,40.751867,-74.030377,casual,0 days 00:04:25,4.0
97022,064CE90800E9C21F,classic_bike,2023-06-13 17:23:31,2023-06-13 17:28:01,9 St HBLR - Jackson St & 8 St,HB305,Willow Ave & 12 St,HB505,40.748000,-74.038375,40.751867,-74.030377,casual,0 days 00:04:30,4.0

In [21]:
#reset the index

june23_final_df = june23_new_df.reset_index(drop=True)

In [22]:
#reset the sample(95000)

june23_final_df = june23_final_df.sample(95000).reset_index(drop=True)

In [23]:
#verify the dataframe
june23_final_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,elapsed_time,elapsed_time_minutes
0,6F242943C2C835C0,classic_bike,2023-06-13 18:59:41,2023-06-13 19:04:46,12 St & Sinatra Dr N,HB201,Hoboken Terminal - River St & Hudson Pl,HB102,40.750816,-74.024287,40.736068,-74.029127,member,0 days 00:05:05,5.0
1,D64AA57A4FB465B2,classic_bike,2023-06-21 18:47:55,2023-06-21 18:52:56,Columbus Drive,JC014,Paulus Hook,JC002,40.718681,-74.038238,40.714145,-74.033552,member,0 days 00:05:01,5.0
2,835BFE85562B9001,classic_bike,2023-06-20 08:10:05,2023-06-20 08:15:51,Southwest Park - Jackson St & Observer Hwy,HB401,9 St HBLR - Jackson St & 8 St,HB305,40.737551,-74.041664,40.747907,-74.038412,member,0 days 00:05:46,6.0
3,D480237650552387,classic_bike,2023-06-22 18:40:43,2023-06-22 18:42:58,Bergen Ave,JC095,McGinley Square,JC055,40.722104,-74.071455,40.725340,-74.067622,member,0 days 00:02:15,2.0
4,5D7C7C5986BB6141,electric_bike,2023-06-29 04:50:24,2023-06-29 04:57:20,Madison St & 1 St,HB402,Washington St,JC098,40.738790,-74.039300,40.724294,-74.035483,casual,0 days 00:06:56,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94995,7B333BCE3C84411C,electric_bike,2023-06-27 06:08:45,2023-06-27 06:17:13,Hoboken Ave at Monmouth St,JC105,Grove St PATH,JC115,40.735208,-74.046964,40.719410,-74.043090,member,0 days 00:08:28,8.0
94996,4BD18EA2BA3795FD,classic_bike,2023-06-20 08:43:02,2023-06-20 08:52:09,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,8 St & Washington St,HB603,40.736982,-74.027781,40.745984,-74.028199,member,0 days 00:09:07,9.0
94997,01682146E7767173,electric_bike,2023-06-22 16:29:11,2023-06-22 16:38:35,Columbus Drive,JC014,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.718355,-74.038914,40.736982,-74.027781,member,0 days 00:09:24,9.0
94998,CD89D21FBC965133,classic_bike,2023-06-01 21:30:34,2023-06-01 21:33:31,Church Sq Park - 5 St & Park Ave,HB601,Mama Johnson Field - 4 St & Jackson St,HB404,40.742659,-74.032233,40.743140,-74.040041,casual,0 days 00:02:57,3.0
94999,3972E2BC6F7A65F5,classic_bike,2023-06-18 11:52:58,2023-06-18 12:00:05,Leonard Gordon Park,JC080,Journal Square,JC103,40.745910,-74.057271,40.733670,-74.062500,member,0 days 00:07:07,7.0

In [24]:
#save the dataframe to a csv file
june23_final_df.to_csv('data/citibike.csv', index= False)